/* MHQI Stylesheet */
/* Sheet has stopped working with phs styles variables for some reason...change to hex codes */

/* Main header*/
.main-header .navbar {
  display: none;
}

/* Defining shinydashboard 'box' element styling */
.box-header{
  background-color: #ECEBF3; /* Header colour */
  color: #3F3685; /* Header text colour */
  font-weight: bold;
  word-wrap: normal; /* tell css to wrap the text in buttons */
  white-space: normal; /* required for text wrapping to work */
}

.box-header h3{
  
  font-size: 24px;
  font-weight: bold;
}

.box-body{
  color: #3F3685;
  font-size: 24px; /* Change this to your desired font size */
  font-weight: bold;
  word-wrap: normal; /* tell css to wrap the text in buttons */
  white-space: normal; /* required for text wrapping to work */
}

/* Define buttons styling */
.navpageButton{
  background-color: #3F3685; /* button colour - phs-purple */
  color: #ECEBF3; /* text colour --phs-purple-10*/
  border: 2px rounded ;
  word-wrap: normal; /* tell css to wrap the text in buttons */
  white-space: normal; /* required for text wrapping to work */
}
