/* MHQI Stylesheet */
/* Sheet has stopped working with phs styles variables for some reason...change to hex codes */

/* [Page Navigation Buttons] */
.navpageButton{
  background-color: #9B4393; /* button colour - phs-magenta */
  color: #ECEBF3; /* text colour --phs-purple-10*/
  border: 4px rounded ;
  /*word-wrap: normal; /* tell css to wrap the text in buttons */
  /*white-space: normal; /* required for text wrapping to work */
  /*align: right;*/
}


/* Main header*/
/*.main-header .navbar {
  background-color: #ECEBF3; /* Header colour */
 /* color: #3F3685; /* Header text colour */
/*}*/



h1 {
  color: #3F3685;
  font-weight: bold;
}

/* [Dashboard Skin] */
/* dashboardHeader settings */
.skin-blue .main-header .logo {
  background-color: #3F3685;
  /*width: 300px;*/
}
.skin-blue .main-header .logo:hover {
  background-color: #3F3685;
  /*width: 300px;*/
}

.skin-blue .main-header .navbar {
  background-color: #3F3685;
}
.skin-blue .main-header .navbar:hover {
  background-color: #3F3685;
}

.skin-blue .sidebar-toggle {
  background-color: #3F3685;
}
.skin-blue .sidebar-toggle:hover {
  background-color: #655E9D;
}


/* Sidebar settings */
.dashboard-sidebar {
  background-color: #C5C3DA;
  color: #655E9D;
}


/* [ScotHub styling] */

/* Defining shinydashboard 'box' element styling */

/* Whole Box */
.col-sm-4{
  min-width: 400px;
}
/* Box border */
.box{
  border-width: thin;
  border-style: solid;
  border-color: #C5C3DA;
}

/* Header */
.box-header{
  background-color: #E9F2F3; /* Header colour */
  color: #3F3685; /* Header text colour */
  /*font-weight: bold;*/
  word-wrap: normal; /* tell css to wrap the text in buttons */
  white-space: normal; /* required for text wrapping to work */
  height: 90px; /* Specifying height of Header area */
  border: thin solid #C5C3DA;
}

/* Box Header Text */
.box-header h3{
  /* */
  font-size: 36px; 
  font-weight: bold; 
  /*line-height: 3; Doesn't seem to change anything */
}

.box-body{
  color: #3F3685;
  font-size: 20px; /* Change this to your desired font size */
  font-weight: bold;
  /*word-wrap: normal; /* tell css to wrap the text in buttons */
  /*white-space: normal; /* required for text wrapping to work */
}


/**//* Tab styling *//**/

/* Tab title */
.container-fluid h2{
  color: #3F3685;
  font-size: 20px;
  font-weight: bold;
}

/* Tab content under title */
.col-sm-8{
  width: auto;
}

/* Tab text */
.col-sm-8 p{
  font-size: 14px;
}

.mainPanel h2{
  color: #3F3685;
  font-weight: bold;
}
.infographic{
  width: 100%;
  padding: 10px;
}