/* MHQI Stylesheet */
/* Sheet has stopped working with phs styles variables for some reason...change to hex codes */

/* Main header*/
/*.main-header .navbar {
  background-color: #ECEBF3; /* Header colour */
 /* color: #3F3685; /* Header text colour */
/*}*/

/* Change background color of dashboardHeader */
.dashboard-header {
  background-color: #655E9D;
  color: #C5C3DA;
}

/* Change background color of dashboardSidebar */
.dashboard-sidebar {
  background-color: #C5C3DA;
  color: #655E9D;
}

/* Defining shinydashboard 'box' element styling */
.box-header{
  background-color: #ECEBF3; /* Header colour */
  color: #3F3685; /* Header text colour */
  font-weight: bold;
  word-wrap: normal; /* tell css to wrap the text in buttons */
  white-space: normal; /* required for text wrapping to work */
  
}

.box-header h3{
  font-size: 32px;
  font-weight: bold;
}

.box-body{
  color: #3F3685;
  font-size: 30px; /* Change this to your desired font size */
  font-weight: bold;
  /*word-wrap: normal; /* tell css to wrap the text in buttons */
  /*white-space: normal; /* required for text wrapping to work */
}

/* Define buttons styling */
.navpageButton{
  background-color: #9B4393; /* button colour - phs-magenta */
  color: #ECEBF3; /* text colour --phs-purple-10*/
  border: 4px rounded ;
  word-wrap: normal; /* tell css to wrap the text in buttons */
  white-space: normal; /* required for text wrapping to work */
  align: right;
}
